*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "League Spartan", sans-serif;
}

body {
    height: 100vh;
}

main {
    background-color: #3a4663;
    padding: 3rem 2.4rem;
    background-color: #3a4663;
}

h1 {
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: -0.53px;
    color: #fff;
}

h6 {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    margin-bottom: 0.7rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    display: flex;
    gap: 2.6rem;
    align-items: end;
}

span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.positions {
    display: flex;
    gap: 2rem;
    padding: 0 0.7rem;
}

.switcher {
    background-color: #242d44;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 13px;
    display: flex;
    justify-content: start;
}

.dot {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: #d03f2f;
}

/*screen*/

.screen {
    padding: 2.9rem 2.4rem;
    border-radius: 1rem;
    margin-top: 3.2rem;
    background-color: #181f33;
}

.calc-display {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: -0.67px;
    text-align: right;
    color: #fff;
}

/*keyboard*/

.keyboard {
    padding: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.3rem;
    background-color: #242d44;
    border-radius: 1rem;
    margin-top: 2.4rem;
}

button {
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: -0.53px;
    color: #434a59;
    padding: 13px 10px 11px;
    border-radius: 5px;
    box-shadow: inset 0 -4px 0 0 #b3a497;
    background-color: #eae3dc;
    border: none;
}

.del, .reset {
    color: #ffffff;
    background-color: #647198;
    box-shadow: inset 0 -4px 0 0 #414e73;
}

.del, .reset, .equal {
    font-size: 2rem;
}

.reset {
    grid-column-start: 1;
    grid-column-end: 3;
}

.equal {
    grid-column-start: 3;
    grid-column-end:5 ;
    box-shadow: inset 0 -4px 0 0 #93261a;
    background-color: #d03f2f;
    color: #fff;
}